<div id="<%= dom_id book_detail %>">
  <p>
    <strong>Book name:</strong>
    <%= book_detail.Book_Name %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book_detail.Author %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= book_detail.Price %>
  </p>

  <p>
    <strong>Mail id:</strong>
    <%= book_detail.Mail_ID %>
  </p>

</div>
